// color
$white: #FFFFFF;
$grey-light: #E0DFDB;
$grey-middle: #BCBCBC;
$grey-dark: #AFACAC;
$black-light: rgba(39, 39, 39, 0.80);
$black-middle: #272727;
$black: #000000;
$orange: #E84F26;
$yellow: #E1DD00;

$padding-section-top: clamp(30px, 8vw, 100px);

//width
$maket-width: 1440px;
$content-width: 1220px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;