.footer {
    background-color: $black-middle;
    text-align: center;
    padding-top: $padding-section-top;
}

.hire-Me {
    @extend %flex-column;
    gap: 55px;
    padding-bottom: 55px;

    border-bottom: 1px solid $white;

    &__title {
        @include font-base($size: clamp(3.0rem, 5vw, 6.4rem), $height: 120%, $weight: 500);
        color: $white;
    }

    &__box {
        display: flex;
        gap: 30px;

        >* {
            display: inline-block;
        }
    }

    &__box-contact {
        @include font-base($size: clamp(20px, 5vw, 2.4rem), $height: 2.9rem, $weight: 500);
        padding: 13px 20px;
        background-color: $orange;
        border-radius: 42px;
        color: $black;
        letter-spacing: 1px;

        &:hover {
            box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
        }
    }

    &__box-cv {
        @include font-base($size: clamp(20px, 5vw, 2.4rem), $height: 2.9rem, $weight: 500);
        padding: 13px 27px 13px 67px;
        border-radius: 42px;
        color: $orange;
        letter-spacing: 1px;
        position: relative;
        border: 1px solid $orange;

        &::before {
            content: url(img/icons/download.svg);
            position: absolute;
            top: 50%;
            left: 27px;
            width: 28px;
            height: 28px;
            transform: translateY(-50%);
        }

        &:hover {
            box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
        }
    }
}

.footer__box {
    padding: 55px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-social {
        display: flex;

        >* {
            padding-right: 40px;
        }

    }

    &-social-link {
        display: inline-block;
        color: $grey-middle;
        font-size: 1.8rem;

        &:hover {
            color: $white;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        }
    }
}

.footer__box-linkrs {
    display: block;
    min-width: 80px;
    fill: $white;

    &:hover {
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    }
}

.footer__box-text {
    font-size: 1.8rem;
    color: $grey-middle;
    white-space: nowrap;
}