@media all and (max-width: 770px) {
    .header {
        &__top {
            padding-top: 20px;
        }

        &__bottom {
            &-title {
                white-space: wrap;
            }

            &-link {
                left: 50%;
                transform: translateX(-50%);
                margin: auto;
            }

            &-link {
                padding: clamp(10px, 3vw, 25px) clamp(15px, 3vw, 34px);
                height: clamp(40px, 12vw, 65px);
            }

        }
    }

    .layout-2-column {
        min-height: calc(100vh - 48px);
    }

    .navigation__burger {
        display: flex;
    }

    .header__top-navigation {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1;
        overflow: auto;
        padding: 50px 40px;
        background: #000;
        animation: burger .4s;
    }

    .navigation__item-link {
        position: relative;
        padding-left: 40px;
        width: 100px;
    }

    .navigation {
        flex-direction: column;
        row-gap: 30px;
    }
}